<!DOCTYPE html>
<html>
 <head>
  <title>JavaScript Tag Cloud Chart</title>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
  <style>
    html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10;
    }
  </style> 
 </head>
  <body>
      <div id="container"></div>
     <script>
        anychart.onDocumentReady(function() {
          var data =  {{data | tojson}}
        // create a tag (word) cloud chart
          var chart = anychart.tagCloud(data);
        // set a chart title
          chart.title('15 least spoken languages')
          // set an array of angles at which the words will be laid out
          chart.angles([0])
          // enable a color range
          chart.colorRange(true);
          // set the color range length
          chart.colorRange().length('80%');
        // display the word cloud chart
          chart.container("container");
          chart.draw();
        });
    </script>
  </body>
</html>